In [24]:
import numpy as np
import pandas

In [25]:
data = pandas.read_csv('salary-train.csv')
data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [26]:
test = pandas.read_csv('salary-test.csv')
test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [27]:
texts = data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
texts = [text.lower() for text in texts]

In [28]:
test_texts = test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
test_texts = [text.lower() for text in test_texts]

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer(min_df=5)

In [30]:
text_vec = vec.fit_transform(texts)
test_text_vec = vec.transform(test_texts)

In [31]:
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)

In [32]:
from sklearn.feature_extraction import DictVectorizer
enc = DictVectorizer()

In [33]:
loc_vec = enc.fit_transform(data[['LocationNormalized']].to_dict('records'))
test_loc_vec = enc.transform(test[['LocationNormalized']].to_dict('records'))

time_vec = enc.fit_transform(data[['ContractTime']].to_dict('records'))
test_time_vec = enc.transform(test[['ContractTime']].to_dict('records'))

In [34]:
from scipy.sparse import hstack
X = hstack([text_vec, loc_vec, time_vec])
X_test = hstack([test_text_vec, test_loc_vec, test_time_vec])

In [35]:
from sklearn.linear_model import Ridge
reg = Ridge(alpha=1, random_state=241)

In [36]:
reg.fit(X, data['SalaryNormalized'])

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

In [37]:
predictions = reg.predict(X_test)

In [39]:
predictions

array([ 56555.61500155,  37188.32442618])